.dm-form-field {
  width: 200px;
  margin: 8px;
}

table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.td.mat-cell:first-of-type{
  text-align: center;
}

.dm-margin {
  margin: 0 10px;
}

.dm-center {
  margin: 0 auto;
}

.dm-table {
  width: 90%;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: space-between;
}
