
<div id="contenedor">
            <div id="header"></div>
            <div id="nav">
              <h2>Administración Usuarios partner Club</h2>
              <hr color="red" size=3>
              <br>

                      <form class="company-form" [formGroup]="form">
                        <!-- <mat-form-field class="full-width" appearance="fill">
                          <mat-select id = "companias"
                           (selectionChange)="onCompanyChange($event)">
                            <mat-option *ngFor="let item of listcompanys"  [value]="item.companyid" (click)="showEmpresa(item.bussinesName, item.ruc)">
                              {{item.bussinesName}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field> -->
                        <mat-form-field class="example-full-width">
                          <input type="text"
                                 placeholder="Escoja o escriba una empresa"
                                 aria-label="Number"
                                 matInput
                                 formControlName="country"
                                 [matAutocomplete]="auto">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.bussinesName" (click)="onCompanyChange(option.companyid,option.ruc,option.bussinesName)">
                              {{option.bussinesName}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </form>

              <hr color="gray" size=3>
              <br>


                <h4>Empresa: {{ textEmpresa }}  |  {{textRuc}}</h4>
              <br>

              <div *ngIf="showDiv">
              <h4>Filtros</h4>
              <mat-form-field appearance="fill">
                <mat-select [(value)]="filtroSeleccionado"
                (selectionChange)="onFiltroChange($event.value)">
                  <mat-option></mat-option>
                  <mat-option [value]="option.value" *ngFor="let option of filtros">{{ option.viewValue }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


              <h4>Usuarios</h4>
              <!-- SPINER -->


<table mat-table [dataSource]="listUsers" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox #ref (change)="$event ? masterToggle(ref) : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" >
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null;isSomeSelected()"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- corporateEmail Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- corporateEmail Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> lastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- corporateEmail Column -->
  <ng-container matColumnDef="corporateEmail">
    <th mat-header-cell *matHeaderCellDef> corporateEmail </th>
    <td mat-cell *matCellDef="let element"> {{element.corporateEmail}} </td>
  </ng-container>

  <!-- numberDocument Column -->
    <ng-container matColumnDef="numberDocument">
      <th mat-header-cell *matHeaderCellDef> numberDocument </th>
      <td mat-cell *matCellDef="let element"> {{element.numberDocument}} </td>
    </ng-container>

    <!-- vip Column -->
    <ng-container matColumnDef="vip">
      <th mat-header-cell *matHeaderCellDef> vip </th>
      <td mat-cell *matCellDef="let element"> {{element.vip}} </td>
    </ng-container>

    <!-- invitationPartnerClub Column -->
    <ng-container matColumnDef="invitationPartnerClub">
      <th mat-header-cell *matHeaderCellDef> invitationPartnerClub </th>
      <td mat-cell *matCellDef="let element"> {{element.invitationPartnerClub}} </td>
    </ng-container>

    <!-- invitationDate Column -->
    <ng-container matColumnDef="invitationDate">
      <th mat-header-cell *matHeaderCellDef> invitationDate </th>
      <td mat-cell *matCellDef="let element"> {{element.invitationDate}} </td>
    </ng-container>

    <!-- invitationDateShow Column -->
    <ng-container matColumnDef="invitationDateShow">
      <th mat-header-cell *matHeaderCellDef> invitationDateShow </th>
      <td mat-cell *matCellDef="let element"> {{element.invitationDateShow}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>

<!-- paginacion -->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>




            <br>
            <div *ngIf="showButton" class="boton">
              <button mat-raised-button color="warn" (click)= "putInvitacion()">Enviar Invitación</button>
            </div>


            </div>
            <div id="contenido"></div>
<!--             <div id="footer"></div> -->
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

