<div *ngFor="let item of data.lpassenger; let i = index;" style="display: inline-grid;margin-left: 20px;" >
  <br>
  <p><strong>Pasajero {{i+1}}</strong></p>
  <div class="dm-justify">
    <img src="assets/images/reports/garrapata.svg" style="width: 24px;padding-right: 10px;">
    <span>Nombres : {{item.name}} {{item.lastName}}</span>
  </div>
  <div class="dm-justify">
    <img src="assets/images/reports/garrapata.svg" style="width: 24px;padding-right: 10px;">
    <span>Fecha Nacimiento: {{item.birthDate}}</span>
  </div>
  <div class="dm-justify">
    <img src="assets/images/reports/garrapata.svg" style="width: 24px;padding-right: 10px;">
    <span>Tipo Doc: {{item.documentType}}</span>
  </div>
  <div class="dm-justify">
    <img src="assets/images/reports/garrapata.svg" style="width: 24px;padding-right: 10px;">
    <span>Numero Doc: {{item.documentNumber}}</span>
  </div>

  <br>
</div>
