table {
    width: 100%;
}

button {
    margin: 16px 8px;
}

.dm-margin {
    margin: 0 10px;
}

.dm-center {
    margin: 0 auto;
}

.dm-table {
    width: 90%;
    margin: 0 auto;
}

.title {
    display: flex;
}

.status {
    height: 20px;
    width: 20px;
    background: gray;
    border-radius: 50%;
}

.green {
    background: green;
}

.red {
    background: red;
}

.hidden {
    display: none;
}

.mat-column-contactMail {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}