.dm-form-field {
  width: 200px;
  margin: 8px;
}

table {
  width: 100%;
}

button {
  margin: 16px 8px;
}

.dm-justify{
  margin-top: 20px;
}

.dm-margin {
  margin: 0 10px;
}

.dm-center {
  margin: 0 auto;
}

.dm-table {
  width: 98%;
  margin: 0 auto;
}

.showPlus:hover {
  text-decoration: underline;
  cursor: pointer;
  color: darkblue;
}
