.dm-button-back {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  font: normal normal bold 15px/12px Roboto;
  letter-spacing: 0;
  color: #E82D56;
  opacity: 1;
  border: 2px solid;
  width: 40%;
  cursor: pointer;
  height: 44px;
}
