<div style="display: inline-grid;"  mat-dialog-content>
  <br>
  <p><strong>Información</strong></p>
  <div class="dm-justify">
      <img src="assets/images/garrapata.svg" style="width: 24px;padding-right: 10px;">
      <span>Check in: {{data.checkIn}}</span>
  </div>
  <div class="dm-justify">
      <img src="assets/images/garrapata.svg" style="width: 24px;padding-right: 10px;">
      <span>Check out: {{data.checkOut}}</span>
  </div>
  <div class="dm-justify">
      <img src="assets/images/garrapata.svg" style="width: 24px;padding-right: 10px;">
      <span>Address: {{data.address}}</span>
  </div>
  <div class="dm-justify">
      <img src="assets/images/garrapata.svg" style="width: 24px;padding-right: 10px;">
      <span>Code Hotel: {{data.codeHotel}}</span>
  </div>
  <div class="dm-justify">
      <img src="assets/images/garrapata.svg" style="width: 24px;padding-right: 10px;">
      <span>TelephoneNumber: {{data.telephoneNumber}}</span>
  </div>
  <div class="dm-justify">
    <img src="assets/images/garrapata.svg" style="width: 24px;padding-right: 10px;">
    <span>Status: {{data.typeStatus}}</span>
  </div>
  <div class="dm-justify">
    <img src="assets/images/garrapata.svg" style="width: 24px;padding-right: 10px;">
    <span>Name Room: {{data.oRoom.name}}</span>
  </div>
  <br>
</div>
