.dm-form-field {
    width: 200px;
    margin: 8px;
}

table {
    width: 100%;
}

button {
    margin: 16px 8px;
}

.dm-margin {
    margin: 0 10px;
}

.dm-center {
    margin: 0 auto;
}

.dm-table {
    width: 70%;
    margin: 0 auto;
}

.title {
    display: flex;
}

.buttons{
  display: flex;
  margin-left: 45%;
}

@media (max-width:822px) {
  .buttons{
    display: flex;
    margin-left: 12%;
  }
}

@media (max-width:572px) {
  .title{
    display: block;
  }

  .buttons{
    display: flex;
    margin: 0 auto;
  }
}

@media (max-width:480px) {

  .buttons{
    display: block;
    margin: 0 auto;
  }
}
